@model IEnumerable<MVCMuncheese.Models.modeloIngredienteXProducto>

@{
    ViewBag.Title = "listarIngredienteXProducto_PA";
}
<h2>Ingredientes por Producto</h2>

<p>
    @Html.ActionLink("Nuevo", "agregarIngredienteXProducto_PA")
</p>
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.Id_ingredienteXproducto)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Ingrediente)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Id_ingredienteXproducto)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Ingrediente)
            </td>
            <td>
                @Html.ActionLink("Editar", "modificarIngredienteXProducto_PA", new { pId = item.Id_ingredienteXproducto }) |
                @Html.ActionLink("Detalle", "detalleIngredienteXProducto_PA", new { pId = item.Id_ingredienteXproducto }) |
                @Html.ActionLink("Borrar", "eliminarIngredienteXProducto_PA", new { pId = item.Id_ingredienteXproducto })
            </td>
        </tr>
    }

</table>
