@model IEnumerable<MVCMuncheese.Models.modeloProductos>

@{
    ViewBag.Title = "listarProductos_ENT";
}

<h2>Productos</h2>

@*<p>
    @Html.ActionLink("Nuevo", "agregarProductos_ENT")
</p>*@
<p>
    @Html.ActionLink("Nuevo", "agregarProducto_ENT")
</p>

<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Id_producto)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.Id_producto)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_tipo_producto) <!-- Mostrar el nombre del Tipo_producto -->
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Tipo_producto)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "modificarProductos_ENT", new { pId = item.Id_producto }) |
            @Html.ActionLink("Detalle", "detalleProductos_ENT", new { pId = item.Id_producto }) |
            @Html.ActionLink("Borrar", "eliminarProductos_ENT", new { pId = item.Id_producto })
        </td>
    </tr>
}

</table>
