@model MVCMuncheese.Models.modeloUsuarios
@{
    ViewBag.Title = "detalleUsuarios_PA";
}

<h2>Detalle</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contraseña)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEstado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "modificarUsuarios_PA", new { pId = Model.Usuario }) |
    @Html.ActionLink("Atras", "listarUsuarios_Pa")
</p>
