@model MVCMuncheese.Models.modeloOrdenes

@{
    ViewBag.Title = "detalleOrdenes_ENT";
}

<h2>Detalle de</h2>

<div>
    <h4>Orden</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "modificarOrdenes_ENT", new { pId = Model.Id_Orden }) |
    @Html.ActionLink("Atras", "listarOrdenes_ENT")
</p>
