@model IEnumerable<Entidades.recOrdenes_Result>

@{
    ViewBag.Title = "listarOrdenes_PA";
}

<h2>listarOrdenes_PA</h2>

<p>
    @Html.ActionLink("Nuevo", "agregarOrdenes_PA")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Orden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Orden)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.ActionLink("Editar", "modificarOrdenes_PA", new { pId=item.Id_Orden  }) |
            @Html.ActionLink("Detalle", "detalleOrdenes_PA", new { pId = item.Id_Orden }) |
            @Html.ActionLink("Borrar", "eliminarOrdenes_PA", new { pId = item.Id_Orden })
        </td>
    </tr>
}

</table>
