@model IEnumerable<MVCMuncheese.Models.modeloOrdenes>

@{
    ViewBag.Title = "listarOrdenes_ENT";
}

<h2>Ordenes</h2>

<p>
    @Html.ActionLink("Nuevo", "agregarOrdenes_ENT")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Orden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Orden)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.ActionLink("Editar", "modificarOrdenes_ENT", new { pId = item.Id_Orden }) |
            @Html.ActionLink("Detalle", "detalleOrdenes_ENT", new { pId = item.Id_Orden }) |
            @Html.ActionLink("Borrar", "eliminarOrdenes_ENT", new { pId = item.Id_Orden })

        </td>
    </tr>
}

</table>
