@model MVCMuncheese.Models.modeloOrdenes
@{
    ViewBag.Title = "Ordenes";

    
}

<nav class="navbar navbar-default">
    <div class="container-fluid" style="text-align:center">
        <h2 class="info">Ordenes</h2>
    </div>
</nav>

<div class="jumbotron">
    <h3>Orden</h3>
    <form class="form-horizontal">
        <script type="text/javascript">
    function cargarProductos() {
        var tipoProducto = $("#Tipo_Producto").val();
        $.ajax({
            url: '@Url.Action("obtenerProductosPorTipo", "Ordenes")',
            type: 'GET',
            dataType: 'json',
            data: { idTipoProducto: tipoProducto },
            success: function (data) {
                var productos = "<option value=''>- Productos -</option>";
                $.each(data, function (i, item) {
                    productos += "<option value='" + item.Id_producto + "'>" + item.Nombre + "</option>";
                });
                $("#Id_producto").html(productos).removeAttr("disabled");
            },
            error: function () {
                alert("Ocurrió un error al cargar los productos");
            }
        });
    }
        </script>
        <fieldset>
            <div class="col-md-12">
                <div class="form-group col-md-4">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Tipo_Producto, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownListFor(model => model.Tipo_Producto, ViewBag.Tipo_Producto as SelectList, null, new
                        {@*@style = "color: white;",*@ @id = "Tipo_Producto",
                        @onchange = "cargarProductos();",
                        @class = "form-control"
                    })
                        @Html.ValidationMessageFor(model => model.Tipo_Producto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Id_producto, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownListFor(model => model.Id_producto, new SelectList(string.Empty, "Id_producto", "Nombre"), "- Productos -", new { @id = "Id_producto", @disabled = "disabled", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Id_producto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

        </fieldset>
    </form>

    <form class="form-horizontal">
        <fieldset>
            <div class="col-md-12">
                <div class="form-group col-md-4">
                    <div class="col-lg-10">
                        <input type="number" class="form-control" id="Cantidad" placeholder="Cantidad">
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="TipoOrden" placeholder="Tipo de Orden">
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="Mesa" placeholder="Mesa">
                    </div>
                </div>

            </div>

            <div class="col-lg-12">
                <div class="form-group col-md-4">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-primary">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>





<table class="table table-striped table-hover ">
    <thead>

    </thead>
    <tr>
        <th></th>
        <th>Tipo de producto</th>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Tipo de Orden</th>
    </tr>
    <tbody>
        <tr class="active">
        </tr>
        <tr class="active">
        </tr>
        <tr class="active">
        </tr>
        <tr class="active">
        </tr>
    </tbody>
</table>
<div class="form-group col-md-12" style="text-align:right">
    <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Agregar</button>
        <div class="btn btn-primary">@Html.ActionLink("Atras", "listarOrdenes_ENT", null, new { style = "color:white;" })</div>
    </div>
</div>

