@model MVCMuncheese.Models.modeloOrdenes
@{
    ViewBag.Title = "Ordenes";
   
}

<div class="jumbotron">
    <div>
        <h3 class="container-fluid" style="text-align:center">Orden</h3>
    </div>
    <form class="form-horizontal">
        <script type="text/javascript">

        </script>


        <fieldset>
            <div class="col-md-12">
                @*<div class="form-group col-md-12">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Id_Orden, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Id_Orden, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Id_Orden, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group col-md-4">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Tipo_Producto, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownListFor(model => model.Tipo_Producto, (SelectList)ViewBag.Tipo_Producto, "-- Seleccione --", new { @class = "form-control", @id = "Tipo_Producto" })
                        @*@Html.DropDownListFor(model => model.Tipo_Producto, ViewBag.Tipo_Producto as SelectList, "- Categoria -", new{@id = "Tipo_Producto",
        @onchange = "cargarProductos();",
        @class = "form-control"
        })*@
                        @Html.ValidationMessageFor(model => model.Tipo_Producto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Id_producto, htmlAttributes: new { @class = "control-label col-md-2" })

                        @Html.DropDownListFor(model => model.Id_producto, new SelectList(string.Empty, "Id_producto", "Nombre"), "- Productos -", new { @id = "Id_producto", @disabled = "disabled", @class = "form-control", @onChange = "cargarPrecio();" })
                        @Html.ValidationMessageFor(model => model.Id_producto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control", min = "0", max = "10" } })
                        @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group col-md-4">
                    <div class="col-lg-10">
                        <label>Tipo de Orden</label>
                        <select class="form-control" id="TipoOrden">
                            <option value=""></option>
                            <option value="Para llevar">Para llevar</option>
                            <option value="Comer aquí">Comer aquí</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Mesa, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Mesa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Mesa, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Descipcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Descipcion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Descipcion, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="col-lg-12">
                <div class="form-group col-md-4">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-primary">Cancelar</button>
                        <button type="button" class="btn btn-primary" onclick="agregarFila();">Agregar</button>
                    </div>
                    @*<div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="button" class="btn btn-default" onclick="agregarFila();">Agregar</button>
                        </div>
                    </div>*@
                </div>
            </div>
        </fieldset>
    </form> 
</div>



<table class="table" id="tablaOrdenes">
    <thead>
        <tr>
            <th>Tipo de Producto</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Tipo de Orden</th>
            <th>Mesa</th>
            <th>Descripcion</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody id="detalleOrden">
    </tbody>
</table>


<div class="form-group col-md-12" style="text-align:right">
    <div class="col-lg-10 col-lg-offset-2">
        <button type="button" class="btn btn-primary" id="finalizar-btn" onclick="enviarDetalleOrden()">Finalizar</button>
        <div class="btn btn-primary">@Html.ActionLink("Atras", "Mesas", "Mesas", null, new { style = "color:white;" })</div>
    </div>
</div>
