@model MVCMuncheese.Models.modeloDetalleOrden
@{
    ViewBag.Title = "TotalDia";
}

<h4 style="padding-top:4px;">Total del Dia</h4>

<nav class="navbar navbar-default col-md-12" style="padding-top:10px;">
    <div class="container-fluid col-md-5">

        <div class="container">
            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(model => model.VentasLocal, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.TextBoxFor(model => model.VentasLocal, new { @class = "form-control", id = "VentasLocal" })
                        @Html.ValidationMessageFor(model => model.VentasLocal, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.VentasLlevar, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.TextBoxFor(model => model.VentasLlevar, new { @class = "form-control", id = "VentasLlevar" })
                        @Html.ValidationMessageFor(model => model.VentasLlevar, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TotalVentas, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.TextBoxFor(model => model.TotalVentas, new { @class = "form-control", id = "TotalVentas" })
                        @Html.ValidationMessageFor(model => model.TotalVentas, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group col-md-12" style="text-align:right">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="button" class="btn btn-primary" id="calcular-btn">Calcular</button>
            </div>
        </div>
    </div>



</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function cargarDatos() {
        var fecha = '@DateTime.Today.ToString("yyyy-MM-dd")';

        $.getJSON('@Url.Action("VentasLlevar")', { fecha: fecha }, function (data) {
            $('#VentasLlevar').val(data);
        });

        $.getJSON('@Url.Action("VentasLocal")', { fecha: fecha }, function (data) {
            $('#VentasLocal').val(data);
        });

        @*$.getJSON('@Url.Action("TotalVentas")', { fecha: fecha }, function (data) {
            $('#TotalVentas').val(data);
        });*@
    }

    // Llama a la función cargarDatos cuando la página se carga
    $(document).ready(function () {
        cargarDatos();
    });

    $(document).ready(function () {
        $('#calcular-btn').on('click', function () {
            var ventasLocal = parseFloat($('#VentasLocal').val());
            var ventasLlevar = parseFloat($('#VentasLlevar').val());
            var totalVentas = ventasLocal + ventasLlevar;

            $('#TotalVentas').val(totalVentas.toFixed(0));
        });
    });
</script>