@model MVCMuncheese.Models.modeloTipo_Producto

@{
    ViewBag.Title = "detalleTipo_Producto_PA";
}

<h2>detalleTipo_Producto_PA</h2>

<div>
    <h4>Tipo_Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_tipo_Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_tipo_Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_tipo_pro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_tipo_pro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "modificarTipo_Producto_PA", new { pId = Model.Id_tipo_Producto }) |
    @Html.ActionLink("Regresar", "listarTipo_Producto_PA")
</p>
