@model IEnumerable<MVCMuncheese.Models.modeloTipo_Producto>

@{
    ViewBag.Title = "listarTipo_Producto_ENT";
}

<h2>Lista</h2>
<br />
<h3>Categorias</h3>

<p>
    @Html.ActionLink("Nuevo", "agregarTipo_Producto_ENT")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Id_tipo_Producto)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Nombre_tipo_pro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.Id_tipo_Producto)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_tipo_pro)
        </td>
        <td>
            @Html.ActionLink("Editar", "modificarTipo_Producto_ENT", new { pId = item.Id_tipo_Producto }) |
            @Html.ActionLink("Detalle", "detalleTipo_Producto_ENT", new { pId = item.Id_tipo_Producto }) 
            @*@Html.ActionLink("Borrar", "eliminarTipo_Producto_ENT", new { pId = item.Id_tipo_Producto })*@
        </td>
    </tr>
}

</table>
