@model IEnumerable<Entidades.recInventario_Result>

@{
    ViewBag.Title = "listarInventario_PA";
}

<h2>Inventario</h2>

<p>
    @Html.ActionLink("Nuevo", "agregarInventarioPA")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_inventario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Ingrediente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_inventario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Ingrediente)
        </td>
        <td>
            @Html.ActionLink("Editar", "modificarInventario_PA", new { pId=item.Id_inventario }) |
            @Html.ActionLink("Detalle", "detalleInventario_PA", new { pId = item.Id_inventario }) |
            @Html.ActionLink("Borrar", "eliminarInventario_PA", new { pId = item.Id_inventario  })
        </td>
    </tr>
}

</table>
