@model MVCMuncheese.Models.modeloIngredientes
@{
    ViewBag.Title = "detalleIngrediente_PA";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Ingrediente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Ingrediente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Ingrediente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Ingrediente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "modificarIngredientes_PA", new { pid = Model.Id_Ingrediente }) |
    @Html.ActionLink("Regresar", "listarIngredientes_PA")
</p>
