@model MVCMuncheese.Models.modeloIngredientes

@{
    ViewBag.Title = "eliminarIngredientes_PA";
}

<h2>Borrar</h2>

<h3>Estas seguro de borrar esto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Ingrediente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Ingrediente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Ingrediente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Ingrediente)
        </dd>

    </dl>

    @using (Html.BeginForm("accionesPA", "Ingredientes", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id_Ingrediente)


        <div class="form-actions no-color">
            <button type="submit" name="enviarAccion" value="Eliminar"
                    class="btn btn-primary" title="Eliminar registro"
                    data-toggle="tooltip" data-container="body" data-placement="right">
                Eliminar
            </button> |
            @Html.ActionLink("Regresar", "listarIngredientes_PA")
        </div>
    }
</div>
