@model MVCMuncheese.Models.modeloPerfiles

@{
    ViewBag.Title = "detallePerfiles_PA";
}

<h2>Detalle</h2>
<br />
<div>
    <h4>Perfil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Perfil_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perfil_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_perfil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_perfil)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "modificarPerfiles_PA", new { pId = Model.Perfil_Id }) |
    @Html.ActionLink("Atras", "lisatrPerfiles_PA")
</p>
