
@{
    ViewBag.Title = "Mesas";

}
<div class="container-fluid">
    <div style="text-align:center;">
        <h2>Mesas</h2>
    </div>
</div>

<br />

@*@foreach (var mesa in Model)
    {
        <div class="col-md-3">
            <button class="btn-success" style="height: 150px; width: 285px; border-radius:5%; margin-bottom:4px">
                Mesa @mesa.NumeroMesa
            </button>
        </div>
    }*@

@*@foreach (var mesa in Model)
    {
        <div class="col-md-3">
            <button class="btn @((mesa.Estado == 6) ? "btn-danger" : "btn-success")" style="height: 150px; width: 285px; border-radius:5%; margin-bottom:4px">
                Mesa @mesa.NumeroMesa
            </button>
        </div>
    }*@

@*@foreach (var mesa in Model)
    {
        <div class="col-md-3">
            @if (mesa.Estado == "Ocupado")
            {
                <button class="btn-danger" style="height: 150px; width: 285px; border-radius:5%; margin-bottom:4px">
                    Mesa @mesa.NumeroMesa
                </button>
            }
            else
            {
                <button class="btn-info" style="height: 150px; width: 285px; border-radius:5%; margin-bottom:4px">
                    Mesa @mesa.NumeroMesa
                </button>
            }
        </div>
    }*@

@foreach (var mesa in Model)
{
    <div class="col-md-3">
        @if (mesa.EstadoMesa == "Ocupado")
        {
            <button class="btn-danger" style="height: 150px; width: 285px; border-radius:5%; margin-bottom:4px">
                Mesa @mesa.NumeroMesa
            </button>
        }
        else
        {
            <button class="btn-success" style="height: 150px; width: 285px; border-radius:5%; margin-bottom:4px">
                Mesa @mesa.NumeroMesa
            </button>
        }
    </div>
}


<div class="btn btn-default" style="float: right;">
    @Html.ActionLink("Atras", "listarMesas_PA", null, new { style = "color:white;" })
</div>



